body{

    font-family: 'Poppins', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{

    font-size: 45px;
}
P{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.name{
    color: orange;
}

.half-wdith{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-wdith img{
    width: 90%;
}
.logo{
    
    background-color: orangered;
    color: white;
    margin: 3px;
    padding: 3px;
}